#  pands scrapt data from web
---
* 使用pandas的功能直接抓取网页数据
* TODO 将抓取的数据存成文件用于分析

In [16]:
import pandas as pd
import sys
import time
import html5lib
import matplotlib as plt

In [19]:
startdate = "20130101"
enddate = "20181210"

In [20]:
url = 'https://coinmarketcap.com/currencies/bitcoin/historical-data/?start='+startdate+'&end='+enddate

In [21]:
#df_list = pd.read_html(url)
bitcoin_market_info = pd.read_html(url)

In [22]:
bitcoin_market_info

[              Date    Open*     High      Low  Close**      Volume  \
 0     Dec 09, 2018  3473.23  3685.31  3469.09  3614.23  4947372847
 1     Dec 08, 2018  3421.91  3506.04  3350.65  3476.11  5305024497
 2     Dec 07, 2018  3512.59  3512.59  3280.23  3419.94  6835615448
 3     Dec 06, 2018  3754.07  3874.97  3521.10  3521.10  5878333109
 4     Dec 05, 2018  3958.89  3969.54  3753.99  3753.99  5302481574
 5     Dec 04, 2018  3886.29  4075.63  3832.75  3956.89  5028069239
 6     Dec 03, 2018  4147.32  4155.98  3840.45  3894.13  5089570994
 7     Dec 02, 2018  4200.73  4301.52  4110.98  4139.88  5262697895
 8     Dec 01, 2018  4024.46  4309.38  3969.71  4214.67  5375314093
 9     Nov 30, 2018  4289.09  4322.98  3942.82  4017.27  6048016717
 10    Nov 29, 2018  4269.00  4413.02  4145.77  4278.85  6503347767
 11    Nov 28, 2018  3822.47  4385.90  3822.47  4257.42  7280280000
 12    Nov 27, 2018  3765.95  3862.96  3661.01  3820.72  5998720000
 13    Nov 26, 2018  4015.07  4107.14  3643.92  3779.13  6476900000
 14    Nov 25, 2018  3880.78  4120.87  3585.06  4009.97  6825640000
 15    Nov 24, 2018  4347.69  4413.09  3795.16  3880.76  4679500000
 16    Nov 23, 2018  4360.70  4396.42  4195.68  4347.11  4871490000
 17    Nov 22, 2018  4611.57  4629.64  4365.64  4365.94  4569370000
 18    Nov 21, 2018  4465.54  4675.73  4343.98  4602.17  6120120000
 19    Nov 20, 2018  4863.93  4951.61  4272.11  4451.87  8428290000
 20    Nov 19, 2018  5620.78  5620.78  4842.91  4871.49  7039560000
 21    Nov 18, 2018  5559.74  5653.61  5559.74  5623.54  4159680000
 22    Nov 17, 2018  5578.58  5578.58  5519.56  5554.33  4303150000
 23    Nov 16, 2018  5645.32  5657.02  5498.94  5575.55  5279320000
 24    Nov 15, 2018  5736.15  5774.82  5358.38  5648.03  7032140000
 25    Nov 14, 2018  6351.24  6371.55  5544.09  5738.35  7398940000
 26    Nov 13, 2018  6373.19  6395.27  6342.67  6359.49  4503800000
 27    Nov 12, 2018  6411.76  6434.21  6360.47  6371.27  4295770000
 28    Nov 11, 2018  6413.63  6423.25  6350.17  6411.27  3939060000
 29    Nov 10, 2018  6386.13  6437.28  6385.31  6409.22  3705320000
 ...            ...      ...      ...      ...      ...         ...
 2022  May 27, 2013   133.50   135.46   124.70   129.74           -
 2023  May 26, 2013   131.99   136.00   130.62   133.48           -
 2024  May 25, 2013   133.10   133.22   128.90   131.98           -
 2025  May 24, 2013   126.30   133.85   125.72   133.20           -
 2026  May 23, 2013   123.80   126.93   123.10   126.70           -
 2027  May 22, 2013   122.89   124.00   122.00   123.89           -
 2028  May 21, 2013   122.02   123.00   121.21   122.88           -
 2029  May 20, 2013   122.50   123.62   120.12   122.00           -
 2030  May 19, 2013   123.21   124.50   119.57   121.99           -
 2031  May 18, 2013   123.50   125.25   122.30   123.50           -
 2032  May 17, 2013   118.21   125.30   116.57   123.01           -
 2033  May 16, 2013   114.22   118.76   112.20   118.76           -
 2034  May 15, 2013   111.40   115.81   103.50   114.22           -
 2035  May 14, 2013   117.98   119.80   110.25   111.50           -
 2036  May 13, 2013   114.82   118.70   114.50   117.98           -
 2037  May 12, 2013   115.64   117.45   113.43   115.00           -
 2038  May 11, 2013   117.70   118.68   113.01   115.24           -
 2039  May 10, 2013   112.80   122.00   111.55   117.20           -
 2040  May 09, 2013   113.20   113.46   109.26   112.67           -
 2041  May 08, 2013   109.60   115.78   109.60   113.57           -
 2042  May 07, 2013   112.25   113.44    97.70   111.50           -
 2043  May 06, 2013   115.98   124.66   106.64   112.30           -
 2044  May 05, 2013   112.90   118.80   107.14   115.91           -
 2045  May 04, 2013    98.10   115.00    92.50   112.50           -
 2046  May 03, 2013   106.25   108.13    79.10    97.75           -
 2047  May 02, 2013   116.38   125.60    92.28   105.21           -
 2048  May 01, 2013   139.00   139.89   107.72   116.99           -
 2049  Apr 30, 2013   144.00   146.93   134.05   139.00           -
 2050  Apr 29, 2013   134.44   147.49   134.00   144.54           -
 2051  Apr 28, 2013   135.30   135.98   132.10   134.21           -

         Market Cap
 0      62942160928
 1      60531278392
 2      59547645578
 3      61303965508
 4      65352496336
 5      68878292608
 6      67779050170
 7      72050487506
 8      73346194969
 9      69904637061
 10     74451016927
 11     74072560088
 12     66468970322
 13     65739289046
 14     69749265801
 15     67495633205
 16     75598851166
 17     75919439809
 18     80020171047
 19     77401044320
 20     84688539692
 21     97753714643
 22     96542098114
 23     96900828780
 24     98151606541
 25     99712077259
 26    110494466204
 27    110689666528
 28    111373453740
 29    111326145314
 ...            ...
 2022    1454029510
 2023    1495293015
 2024    1477958233
 2025    1491070770
 2026    1417769833
 2027    1385778993
 2028    1374013440
 2029    1363709900
 2030    1363204703
 2031    1379574546
 2032    1373723882
 2033    1325726787
 2034    1274623813
 2035    1243874488
 2036    1315710011
 2037    1281982625
 2038    1284207489
 2039    1305479080
 2040    1254535382
 2041    1264049202
 2042    1240593600
 2043    1249023060
 2044    1288693176
 2045    1250316563
 2046    1085995169
 2047    1168517495
 2048    1298954594
 2049    1542813125
 2050    1603768865
 2051    1488566728

 [2052 rows x 7 columns]]

In [6]:
len(bitcoin_market_info[0])

2044

In [7]:
count = 0
i = 1

In [8]:
a = bitcoin_market_info[0]
a.head()

           Date    Open*     High      Low  Close**      Volume   Market Cap
0  Dec 01, 2018  4024.46  4309.38  3969.71  4214.67  5375314093  73346194969
1  Nov 30, 2018  4289.09  4322.98  3942.82  4017.27  6048016717  69904637061
2  Nov 29, 2018  4269.00  4413.02  4145.77  4278.85  6503347767  74451016927
3  Nov 28, 2018  3822.47  4385.90  3822.47  4257.42  7280280000  74072560088
4  Nov 27, 2018  3765.95  3862.96  3661.01  3820.72  5998720000  66468970322

In [9]:
# 交换矩阵，行列互换
b = pd.DataFrame(a).T

In [10]:
a.columns

Index(['Date', 'Open*', 'High', 'Low', 'Close**', 'Volume', 'Market Cap'], dtype='object')

In [15]:
# 将pandas dataFrame的数据直接存储为csv文件
b.to_csv('bitcoin_market.csv')

In [19]:
a.loc[1:3]

           Date    Open*     High      Low  Close**      Volume   Market Cap
1  Nov 30, 2018  4289.09  4322.98  3942.82  4017.27  6048016717  69904637061
2  Nov 29, 2018  4269.00  4413.02  4145.77  4278.85  6503347767  74451016927
3  Nov 28, 2018  3822.47  4385.90  3822.47  4257.42  7280280000  74072560088

In [18]:
a.sum()

Date          Dec 01, 2018Nov 30, 2018Nov 29, 2018Nov 28, 20...
Open*                                               4.67521e+06
High                                                4.81641e+06
Low                                                 4.51562e+06
Close**                                             4.67887e+06
Volume        5375314093604801671765033477677280280000599872...
Market Cap                                       77439023263728
dtype: object

In [18]:
type(a['Market Cap'][1])

numpy.int64

In [19]:
a['Date'][1]

'Nov 21, 2018'

In [20]:
a.mean()

Open*         2.279331e+03
High          2.347952e+03
Low           2.201895e+03
Close**       2.281212e+03
Market Cap    3.774064e+10
dtype: float64

In [21]:
a.describe()

              Open*          High           Low       Close**    Market Cap
count   2035.000000   2035.000000   2035.000000   2035.000000  2.035000e+03
mean    2279.330865   2347.952260   2201.895248   2281.212113  3.774064e+10
std     3442.946652   3568.354111   3289.901446   3442.689847  5.860490e+10
min       68.500000     74.560000     65.530000     68.430000  7.784112e+08
25%      320.220000    328.535000    312.470000    320.350000  4.379812e+09
50%      596.330000    606.590000    586.340000    596.550000  8.119395e+09
75%     2575.190000   2672.555000   2510.350000   2582.945000  4.245226e+10
max    19475.800000  20089.000000  18974.100000  19497.400000  3.265025e+11

In [26]:
a[['Open*','Close**']].head(10)

     Open*  Close**
0  4611.57  4365.94
1  4465.54  4602.17
2  4863.93  4451.87
3  5620.78  4871.49
4  5559.74  5623.54
5  5578.58  5554.33
6  5645.32  5575.55
7  5736.15  5648.03
8  6351.24  5738.35
9  6373.19  6359.49

In [23]:

#plt.xlabel('Date')
#plt.xlabel('Date')
#plt.ylabel('value')
a[['Open*','Close**']].head(100).plot()
#df[['Open', 'Close']].plot(figsize=(15,5));

In [20]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2044 entries, 0 to 2043
Data columns (total 7 columns):
Date          2044 non-null object
Open*         2044 non-null float64
High          2044 non-null float64
Low           2044 non-null float64
Close**       2044 non-null float64
Volume        2044 non-null object
Market Cap    2044 non-null int64
dtypes: float64(4), int64(1), object(2)
memory usage: 111.9+ KB

In [21]:
finaldf = pd.DataFrame(B_list).T
finaldf.to_csv('output.csv', index=False, header=None)

NameError: name 'B_list' is not defined

In [ ]:
time(a['Date'])

In [ ]:
import matplotlib.finance as mpf

In [22]:
start = (2018,1,1)
end = (2018,12,1)

#quotes = mpf.quotes_historical_yahoo_ochl('^GDAXI',start,end)

In [23]:
a.columns
#df[['width','length','species']]
b=a[['Date', 'Open*', 'High', 'Low', 'Close**', 'Volume']]
c=b.head(100)

In [24]:
#df.rename(columns = {'y':'year'})
c=c.rename(columns={'High':'highs','Low':'lows','Close**':'closes'})
c.head()

           Date    Open*    highs     lows   closes      Volume
0  Dec 01, 2018  4024.46  4309.38  3969.71  4214.67  5375314093
1  Nov 30, 2018  4289.09  4322.98  3942.82  4017.27  6048016717
2  Nov 29, 2018  4269.00  4413.02  4145.77  4278.85  6503347767
3  Nov 28, 2018  3822.47  4385.90  3822.47  4257.42  7280280000
4  Nov 27, 2018  3765.95  3862.96  3661.01  3820.72  5998720000

In [28]:

fig,ax = plt.subplots(figsize=(8,5))
fig.subplots_adjust(bottom=0.2)

mpf.candlestick2_ochl(ax,d,width=0.6,colorup='b',colordown='r')
plt.grid(True)
ax.xaxis_date()
ax.autoscale_view()
plt.setp(plt.gca().get_xticklabels(),rotation=30)

AttributeError: module 'matplotlib' has no attribute 'subplots'

In [ ]:
a.to_csv('bitcoin_market1.csv')

In [ ]:
a.to_excel('bitcoin_market2.xls',encoding='UTF-8')

In [ ]:
with open("bitcoin_market.csv",'w') as bitcoin_market:
    while (count<len(bitcoin_market_info[0]):
           bitcoin_market_info[0]
           
        bitcoin_market.write(i)
print("Save bitcoin market infomation into bitcoin_market.csv from "+ startdate + " to "+ enddate)

In [ ]:
a.to_html("bitcoin.html")

In [ ]:
a.to_json("bitcoin.json")

In [ ]:
pd.read_html(url)

In [ ]:
pd.read_html?

In [ ]:
bitcoin_market_info

In [ ]:
plt.(a['Close**'])

In [ ]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
plt.scatter(a['Open*'], a['Close**'], s=a['Volume'])

In [ ]:
a['Open*']

In [ ]:
plt.figure(); a['Open*'].plot();a['Close**'].plot();

In [ ]:
plt.figure(); a['Open*'].plot();

In [ ]:
a['Close**'].plot();

In [ ]:
b=[]
i=0
while (i<len(a['Volume']):
       b.append(a['Volume'[i]])
       i=i+1